@* Quick Calcs and Conversions Card Partial *@
<div class="card h-100 shadow border-0">
    <div class="card-header text-white" style="background-color: #725daf">
        <h5 class="mb-0">Quick Calcs</h5>
    </div>
    
    <div class="card-body d-grid gap-2">
        <a asp-controller="JoinCalculator" asp-action="Index" class="btn btn-outline-purple">Joins</a>
        <a asp-controller="CoordinateConversion" asp-action="Index" class="btn btn-outline-purple">Coordinate Conversions</a>
        <a asp-controller="" asp-action="Index" class="btn btn-outline-purple">Gyro Calculation</a>
    </div>
</div>

