@* Survey Note Card Partial *@
<div class="card h-100 shadow border-0">
    <div class="card-header text-white" style="background-color: #725daf">
        <h5 class="mb-0">Survey Notes</h5>
    </div>
    
    <div class="card-body d-grid gap-2">
        <a asp-controller="SurveyNotes" asp-action="Index" class="btn btn-outline-purple">View Notes</a>
        <a asp-controller="SurveyNotes" asp-action="Upload" class="btn btn-outline-purple">Upload Note</a>
    </div>
</div>

