@using PegsBase.Models.Constants
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid mt-4">

    <!-- Top Summary Cards -->
    <div class="row g-3 mb-4">
        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-primary shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Pegs</h5>
                    <p class="card-text display-6">123</p>
                    <a asp-controller="PegRegister" asp-action="Index" class="stretched-link text-white">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-success shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Survey Notes</h5>
                    <p class="card-text display-6">87</p>
                    <a asp-controller="SurveyNotes" asp-action="Index" class="stretched-link text-white">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-warning shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Jobs</h5>
                    <p class="card-text display-6">5 Open</p>
                    <a asp-controller="JobRequests" asp-action="Index" class="stretched-link text-white">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-info shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Mine Plans</h5>
                    <p class="card-text display-6">42</p>
                    <a asp-controller="MinePlans" asp-action="Index" class="stretched-link text-white">View</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Module Section Cards -->
    <div class="row g-4">

        <!-- Peg Register -->
        <div class="col-12 col-md-6 col-xl-6">
            @await Html.PartialAsync("_Card_PegRegister")
        </div>

        <!-- Survey Calculations -->
        <div class="col-12 col-md-6 col-xl-6">
            @await Html.PartialAsync("_Card_SurveyCalcs")
        </div>

        <!-- Survey Notes -->
        <div class="col-12 col-md-6 col-xl-6">
            @await Html.PartialAsync("_Card_SurveyNotes")
        </div>

        <!-- Job Requests -->
        <div class="col-12 col-md-6 col-xl-6">
            @await Html.PartialAsync("_Card_JobRequests")
        </div>

        <!-- Mine Plans -->
        <div class="col-12 col-md-6 col-xl-6">
            @await Html.PartialAsync("_Card_MinePlans")
        </div>

        @if (User.IsInRole("Master"))
        {
            <!-- Admin -->
            <div class="col-12 col-md-6 col-xl-6">
                @await Html.PartialAsync("_Card_MonthEndMeasuring")
            </div>
        }
        
    </div>
</div>
