@{
    ViewData["Title"] = "Upload Survey Data";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<h2 class="my-lg-5 text-center">Upload Survey Data</h2>

<form asp-action="UploadPegCalc" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="file" class="form-label">Choose DAT File</label>
        <input class="form-control" type="file" name="file" accept=".dat" required />
    </div>
    <div class="row mt-lg-5">
        <div class="col-md-6">
            <button class="btn btn-primary" type="submit">Calculate Peg</button>
        </div>
    </div>
</form>