@model IEnumerable<PegsBase.Models.MinePlans.PlanType>
@{
    ViewData["Title"] = "Plan Types";
}

<h2>Plan Types</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Add New Type</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th style="width:150px">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pt in Model)
        {
            <tr>
                <td>@pt.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@pt.Id" class="btn btn-sm btn-primary">
                        <i class="bi bi-pen"></i>
                    </a>

                    <a asp-action="Delete" asp-route-id="@pt.Id" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
