@model CoordinateUploadViewModel

@{
    ViewData["Title"] = "Upload Coordinate File";
}

<h2 class="my-lg-5 text-center">Upload Coordinate (.dat) File</h2>

<form asp-action="UploadDat" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label asp-for="CoordinateFile" class="form-label"></label>
        <input asp-for="CoordinateFile"
               class="form-control"
               type="file"
               accept=".dat,application/octet-stream"
               required />

        <span asp-validation-for="CoordinateFile" class="text-danger"></span>
    </div>

    @if (!string.IsNullOrEmpty(Model.RedirectAfterSaveUrl))
    {
        <input type="hidden" asp-for="RedirectAfterSaveUrl" />
    }

    <div class="mt-lg-5">
        <button class="btn btn-primary" type="submit">Preview Coordinates</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

